<html>
    <head>
    </head>
    <body>
       <h1>Dodaj nowy samochów</h1>
       <form method="POST">
            <input type="text" name="model"> <br>
            <input type="text" name="marka"> <br>
            <input type="submit" value="Zapisz"> <br>
       </form> 
    </body>
</html>