<html>

<head>

</head>

<body>
    <h1>Lista samochodów</h1>
    <table>
        <% lista.forEach(function(car) { %>
            <tr>
                <td>
                    <%= car.marka %>
                </td>
                <td>
                    <%= car.model %>    
                </td>
            </tr>
            <% }); %>

    </table>
</body>

</html>