<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <ul>
      <li><a href="/cars">Lista samochodów</a></li>
      <li><a href="/cars/add">Dodaj samochód</a></li>
    </ul>
  </body>
</html>
